<kendo-toolbar>
  <kendo-toolbar-button fillMode="clear" [text]="'CẤU HÌNH'" [toggleable]="true" [selected]="currentMode==='CẤU HÌNH'" (click)="selectMode('CẤU HÌNH')"></kendo-toolbar-button>
  <kendo-toolbar-separator></kendo-toolbar-separator>
  <kendo-toolbar-button fillMode="clear" [text]="'DASHBOARD'" [toggleable]="true" [selected]="currentMode==='DASHBOARD'" (click)="selectMode('DASHBOARD')"></kendo-toolbar-button>
  <kendo-toolbar-separator></kendo-toolbar-separator>
  <kendo-toolbar-button fillMode="clear" [text]="'MUA HÀNG'" [toggleable]="true" [selected]="currentMode==='MUA HÀNG'" (click)="selectMode('MUA HÀNG')"></kendo-toolbar-button>
  <kendo-toolbar-separator></kendo-toolbar-separator>
  <kendo-toolbar-button fillMode="clear" [text]="'ĐIỀU PHỐI'" [toggleable]="true" [selected]="currentMode==='ĐIỀU PHỐI'" (click)="selectMode('ĐIỀU PHỐI')"></kendo-toolbar-button>
  <kendo-toolbar-separator></kendo-toolbar-separator>
  <kendo-toolbar-button fillMode="clear" [text]="'MARKETING'" [toggleable]="true" [selected]="currentMode==='MARKETING'" (click)="selectMode('MARKETING')"></kendo-toolbar-button>
  <kendo-toolbar-separator></kendo-toolbar-separator>
  <kendo-toolbar-button fillMode="clear" [text]="'ECOMMERCE'" [toggleable]="true" [selected]="currentMode==='ECOMMERCE'" (click)="selectMode('ECOMMERCE')"></kendo-toolbar-button>
  <kendo-toolbar-separator></kendo-toolbar-separator>
  <kendo-toolbar-button fillMode="clear" [text]="'KINH DOANH'" [toggleable]="true" [selected]="currentMode==='KINH DOANH'" (click)="selectMode('KINH DOANH')"></kendo-toolbar-button>
  <kendo-toolbar-separator></kendo-toolbar-separator>
  <kendo-toolbar-button fillMode="clear" [text]="'NHÂN SỰ'" [toggleable]="true" [selected]="currentMode==='NHÂN SỰ'" (click)="selectMode('NHÂN SỰ')"></kendo-toolbar-button>
  <kendo-toolbar-spacer></kendo-toolbar-spacer>
  <kendo-toolbar-button kendoButton [imageUrl]="'../../assets/images/search.png'" title="Tìm kiếm sản phẩm"></kendo-toolbar-button>
  <kendo-toolbar-button kendoButton [imageUrl]="'../../assets/images/bell.png'" title="Thông báo"></kendo-toolbar-button>
  <kendo-toolbar-button kendoButton [imageUrl]="'../../assets/images/user.png'" title="Người dùng"></kendo-toolbar-button>
</kendo-toolbar>
