<kendo-toolbar>
  <kendo-toolbar-button
    fillMode="clear"
    [text]="'CẤU HÌNH'"
    [toggleable]="true"
    [selected]="false"
  ></kendo-toolbar-button>
  <kendo-toolbar-separator></kendo-toolbar-separator>
  <kendo-toolbar-button
    fillMode="clear"
    [text]="'DEVELOPER'"
    [toggleable]="true"
    [selected]="false"
  ></kendo-toolbar-button>
  <kendo-toolbar-spacer></kendo-toolbar-spacer>
  <kendo-toolbar-button
    kendoButton
    [imageUrl]="'../../assets/images/search.png'"
    title="Tìm kiếm sản phẩm"
  ></kendo-toolbar-button>
  <kendo-toolbar-button
    kendoButton
    [imageUrl]="'../../assets/images/bell.png'"
    title="Thông báo"
  ></kendo-toolbar-button>
  <kendo-toolbar-button
    kendoButton
    [imageUrl]="'../../assets/images/user.png'"
    title="Người dùng"
  ></kendo-toolbar-button>
</kendo-toolbar>
