.k-toolbar {
  width: calc(100vw - 220px);
  height: 54px;
  display: flex;
  align-items: center;
  background: #fff;
  font-family: "Mulish", sans-serif;
  border-bottom: 1px solid #c8ced3;
  border-left: 1px solid #5c6873;
  color: #73818f;
  padding: 0 10px;

  .k-toolbar-toggle-button {
    border: none;
    background-color: #fff;
    font-size: 13px;
    padding: 10px 17px;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #73818f;

    &:hover {
      color: #1a6634;
    }

    &.k-selected {
      background-color: #fff;
      color: #1a6634;
      font-weight: 700;
      position: relative;

      &::after {
        content: "";
        height: 3px; 
        width: 70%;  
        position: absolute;
        left: 50%;
        top: 42px;
        transform: translateX(-50%);
        border-radius: 2px; 
        display: block;
        opacity: 1 !important;
        background-color: #1a6634 !important;
        box-shadow: 0px 0px 5px rgba(26, 102, 52, 0.7); 
      }
    }
  }

  .k-toolbar-separator {
    height: 45%;
    width: 1px;
    border-radius: 3px;
    background-color: #ccc;
  }

  .toolbar-icons {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
  }

  .k-icon-button {
    background-color: #fff;
    border: none;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;

    .k-button-icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .k-image {
      width: 18px;
      height: 18px;
      object-fit: contain;
    }
  }
}

.k-button-clear-base:focus::after,
.k-button-clear-base.k-focus::after,
.k-button-clear-base:active::after {
  background-color: #fff !important;
}
