:host {
  display: block;
  font-family: "Mulish", sans-serif !important;
}
:host ::ng-deep .k-treelist {
  width: 100% !important;
}
:host ::ng-deep .k-treelist .k-grid-content {
  height: calc(100% - 58px);
  overflow: auto;
}
:host ::ng-deep .k-treelist .k-grid-content tr {
  background-color: #fff !important;
  border-top: 4px solid #edeff3 !important;
  border-bottom: 4px solid #edeff3 !important;
  position: relative !important;
  height: 49px;
}
:host ::ng-deep .k-treeview {
  background-color: #f5f5f5;
  border: none;
  .k-in {
    font-size: 14px;
    font-weight: 600;
    color: #1a2334;
  }
  .k-treeview-leaf .k-in {
    padding-left: 28px;
  }
  .k-icon {
    color: #23282c;
    font-size: 16px;
  }
  .k-item {
    background-color: #fff;
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px 8px;
    &:hover {
      background-color: rgba(123, 169, 142, 0.2);
    }
  }
}
:host ::ng-deep .k-list-container {
  border: none;
  .k-list {
    background-color: transparent;
  }
}
:host ::ng-deep .k-grid {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.4285714286;
  color: #424242;
}
.treelist-grid-container {
  display: flex;
  height: 100%;
}
.treelist-section {
  width: 350px;
  margin-right: 8px;
}
.grid-section {
  flex: 1;
}
.treelist-grid-wrapper {
  display: flex;
}
.treelist-container {
  width: 350px;
  background-color: #fff;
}
.grid-container {
  flex: 1;
  margin-left: 10px;
  background-color: #fff;
}
.k-treelist,
.k-grid {
  background-color: #fff;
}
.k-treelist .k-grid-content tr:hover td,
.k-grid .k-grid-content tr:hover td {
  background-color: #f5f5f5 !important;
}

:host ::ng-deep td.k-table-td[aria-colindex="1"] {
  display: flex;
  align-items: center;
  height: 35px;
}

:host ::ng-deep td.k-table-td[aria-colindex="1"] .custom-icon {
  content: "";
  background-image: url("/assets/images/flowchart.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 6px;
}

:host ::ng-deep .k-svg-i-caret-alt-down::before {
  content: "\e015";
  font-family: "WebComponentsIcons";
  font-size: 16px;
}

:host ::ng-deep .k-svg-i-caret-alt-right::before {
  content: "\e014";
  font-family: "WebComponentsIcons";
  font-size: 16px;
}

:host ::ng-deep .k-grid-header .k-header span[appTooltip] {
  display: flex !important;              
  flex-direction: column;                
  justify-content: center;               
  width: 140px;
  height: 75px;
  gap: 1em;                             
  overflow: visible !important;      
  font-weight: 700;
  font-size: 13px;   
}




