<link rel="stylesheet" href="https://unpkg.com/@progress/kendo-font-icons/dist/index.css"/>

<div class="header new-header">
  <div class="leftGroup">
    <button
      kendoButton
      [togglable]="false"
      [selected]="isSelected('Đang soạn thảo')"
      (click)="toggleImmediate('Đang soạn thảo', $event)"
      class="checkbox-btn"
    >
      Đang soạn thảo
      <div class="k-checkbox" [class.checked]="isSelected('Đang soạn thảo')"></div>
    </button>

    <button
      kendoButton
      [togglable]="false"
      [selected]="isSelected('Gửi duyệt')"
      (click)="toggleImmediate('Gửi duyệt', $event)"
      class="checkbox-btn"
    >
      Gửi duyệt
      <div class="k-checkbox" [class.checked]="isSelected('Gửi duyệt')"></div>
    </button>

    <button
      kendoButton
      [togglable]="false"
      [selected]="isSelected('Đã duyệt')"
      (click)="toggleImmediate('Đã duyệt', $event)"
      class="checkbox-btn"
    >
      Đã duyệt
      <div class="k-checkbox" [class.checked]="isSelected('Đã duyệt')"></div>
    </button>

    <button
      kendoButton
      [togglable]="false"
      [selected]="isSelected('Ngừng áp dụng')"
      (click)="toggleImmediate('Ngừng áp dụng', $event)"
      class="checkbox-btn"
    >
      Ngừng áp dụng
      <div class="k-checkbox" [class.checked]="isSelected('Ngừng áp dụng')"></div>
    </button>
  </div>

  <!-- Bổ sung rightGroup -->
  <div class="rightGroup">
    <button kendoButton class="icon-btn">
      <kendo-icon name="export"></kendo-icon>
    </button>
    <button kendoButton class="icon-btn">
      <kendo-icon name="import"></kendo-icon>Template
    </button>
    <button kendoButton class="btn-add-new">
      <kendo-icon name="plus"></kendo-icon>THÊM MỚI
    </button>
  </div>
</div>
