.header.new-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 0px;
  font-family: Mulish, Arial, sans-serif;
  font-size: 13px;
  color: #23282c;
  white-space: nowrap;
  border-bottom: 1px solid rgba(143,155,166,.4);
  
  .leftGroup {
    display: flex;
    align-items: center;
    gap: 10px;

    .checkbox-btn {
      display: inline-flex;
      align-items: center;
      box-shadow: 1px 3px 6px 1px #8f9ba633;
      border-radius: 15px;
      border: 1px solid transparent;
      padding: 5px 10px;
      cursor: pointer;
      height: 30px;
      background-color: #fff;


      .k-button-text {
        color: #959db3;
        margin-right: 5px;
      }

      .k-checkbox {
        pointer-events: none;
        width: 16px;
        height: 16px;
        border-radius: 4px;
        border: 2px solid #959db3;
        background-color: #fff;

      }

      &:hover {
        border: 1px solid #1a6634;
        background-color: #fff;
        filter: brightness(1.1);
      }

      &[aria-pressed="true"],
      &.k-selected {
        border: 1px solid #1a6634 !important;

        .k-button-text {
          color: #1a6634 !important;
        }

        .k-checkbox {
          background-color: #1a6634;
          border-color: #1a6634;

     
        }

        .k-checkbox::before {
          content: "";
          position: relative;
          display: inline-block;
          width: 4px;
          height: 12px;
          border: solid white;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
          top: -3px;
          left: 1px;
        }
      }

      &[aria-pressed="false"],
      &:not(.k-selected) {

        .k-button-text {
          color: #959db3 !important;
        }

        .k-checkbox::before {
          content: none;
        }
      }
    }
  }

  .rightGroup {
    display: flex;
    align-items: center;
    gap: 20px;

    .icon-only-btn {
      width: 35px;
      height: 35px;
      background: #fff;
      box-shadow: rgba(29, 30, 31, 0.15) 0px 1px 5px;
    }

    .icon-text-btn {
      height: 35px;
      background: #fff;
      box-shadow: rgba(29, 30, 31, 0.15) 0px 1px 5px;
      color: #959db3;

      .k-button-icon {
        filter: invert(54%) sepia(18%) saturate(369%) hue-rotate(180deg) brightness(90%) contrast(85%);
      }
    }

    .btn-add-new {
      height: 32px;
      background: #1a6634;
      color: #fff;
      font-weight: 500;
      box-shadow: rgba(29, 30, 31, 0.15) 0px 1px 5px;

      .k-button-icon {
        filter: brightness(0) invert(1);
      }
    }
  }
}

::ng-deep .k-icon {
  width: 16px !important;
  height: 16px !important;
}

.k-button-solid-base.k-selected {
  color: #000000;
  background-color: #fff;
}

.checkbox-btn.k-focus {
  box-shadow: none !important;
  outline: none !important;
}
.checkbox-btn:hover .k-checkbox {
  background-color: #1a6634 !important;
  border-color: #1a6634 !important;
}

.k-button-solid-base{
  height: 32px;
  background-color: #fff;
  box-shadow: 1px 3px 6px 1px #8f9ba633;
  background-image: none;
  color: #23282c;

  &:hover{
  border: 1px solid #1a6634 !important;

  } 
}