<div class="header header-2" style="position: relative;">
  <div class="title_filter">
    <div class="title" appTooltip>
      <span class="k-font-icon k-i-filter"></span>
      LỌC DỮ LIỆU
    </div>
  </div>
  <div class="filter_group">
    <div class="filter_item" style="width:197px;" appTooltip>
      <span class="title">Công ty</span>
      <kendo-dropdownlist
        [data]="companyList"
        [filterable]="true"
        [loading]="isLoading"
        textField="Bieft"
        valueField="CompanyID"
        [(ngModel)]="selectedCompany"
        [valuePrimitive]="true"
        placeholder="-- Chọn --"
        [groupBy]="'firstLetter'">
        <ng-template kendoDropDownListGroupTemplate let-groupName>
          {{ groupName }}
        </ng-template>
      </kendo-dropdownlist>
    </div>
    <div class="filter_item" style="width:197px;" appTooltip>
      <span class="title">Phân hệ</span>
      <kendo-dropdowntree
        kendoDropDownTreeExpandable
        [autoClose]="true"
        [filterable]="true"
        [kendoDropDownTreeHierarchyBinding]="modules"
        childrenField="ListGroup"
        [loading]="isLoading"
        textField="Vietnamese"
        valueField="Code"
        [checkable]="false"
        [(ngModel)]="selectedModules"
        placeholder="Tất cả"
        (valueChange)="moduleChange($event)">
      </kendo-dropdowntree>
    </div>
    <div class="filter_item" style="width:324px;" appTooltip>
      <span class="title">Bộ phận</span>
      <kendo-multiselecttree
        kendoMultiSelectTreeExpandable
        [autoClose]="true"
        [kendoMultiSelectTreeHierarchyBinding]="departments"
        childrenField="ListDepartment"
        [loading]="isLoading"
        textField="Department"
        valueField="DepartmentID"
        [(ngModel)]="selectedDepartments"
        [filterable]="true"
        placeholder="Chọn bộ phận"
        (valueChange)="departmentChange($event)">
      </kendo-multiselecttree>
    </div>
    <div class="filter_item" style="width:324px;" appTooltip>
      <span class="title">Vai trò</span>
      <kendo-multiselect
        [data]="allRoles"
        [loading]="isLoading"
        textField="RoleName"
        valueField="RoleID"
        [(ngModel)]="selectedRoles"
        [filterable]="true"
        placeholder="Chọn vai trò"
        [groupBy]="'firstLetter'"
        (valueChange)="rolesChange($event)">
        <ng-template kendoMultiselectGroupTemplate let-groupName>
          {{ groupName }}
        </ng-template>
      </kendo-multiselect>
    </div>
  </div>
</div>
