<app-header1 (filterStatuses)="onStatusesChange($event)"></app-header1>
<app-header2 (searchChanged)="onSearchChange($event)"></app-header2>
<app-multi-popup 
  [selectedItems]="selectedItems" 
  (popupClosed)="onPopupClose()"
  (statusChanged)="onStatusChanged()">
</app-multi-popup>

<div class="grid-wrapper">
  <kendo-grid
    [data]="gridView.data"
    [pageSize]="pageSize"
    [skip]="skip"
    [scrollable]="'scrollable'"
    class="grid scrollable grid-custom"
    style="height: 100%;"
  >
    <kendo-grid-column [width]="50">
      <ng-template kendoGridHeaderTemplate>
        <input type="checkbox" [checked]="allSelected" (change)="toggleAll()" />
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        <input type="checkbox" [(ngModel)]="dataItem.selected" (change)="onItemSelectChange(dataItem)" />
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column title="Câu hỏi" [width]="200">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="col-name">
          <div class="name-ctn">
            <div class="name">{{ dataItem.Code }}</div>
            <div class="cccd">{{ dataItem.Question }}</div>
          </div>
        </div>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="CategoryName" title="Phân nhóm" [width]="150">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.CategoryName }}
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column field="StatusName" title="Tình Trạng" [width]="150">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.StatusName }}
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-column title="" [width]="30">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <div class="action">
          <button
            #menuButton
            kendobutton
            icon="more-horizontal"
            class="k-button k-button-icon togglePopup k-icon-button"
            (click)="toggleMenu(rowIndex, menuButton)"
          >
            <kendo-icon class="k-i-more-horizontal k-button-icon k-icon"></kendo-icon>
          </button>
          <kendo-popup
            *ngIf="openedRowIndex === rowIndex"
            [anchor]="popupAnchor"
            [popupAlign]="{ vertical: 'bottom', horizontal: 'right' }"
            [animate]="true"
            (close)="openedRowIndex = null"
          >
            <div class="popup-content">
              <p>Trạng thái: {{ dataItem.StatusName }}</p>
            </div>
          </kendo-popup>
        </div>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>

<!-- Custom pagination thay thế navigation của kendo -->
<div class="custom-pagination" [class.disabled]="disabled">
  <div class="left-c">
    <span>Hiển thị mỗi trang</span>
    <select [value]="pageSize" (change)="onItemsPerPageChangeSelect($event)" [disabled]="disabled">
      <option *ngFor="let size of pageSizes" [value]="size">
        {{ size }}
      </option>
    </select>
  </div>
  <div class="right-c">
    <button (click)="handleFirst()" [disabled]="currentPage === 1 || disabled" class="arrow-button first-last-button">
      Đầu
    </button>
    <button (click)="handlePrev()" [disabled]="currentPage === 1 || disabled" class="arrow-button">
      <kendo-icon name="chevron-left"></kendo-icon>
    </button>

    <ng-container *ngFor="let page of pages">
      <button
        *ngIf="isNumberPage(page)"
        (click)="goToPage(page)"
        class="page-button"
        [class.active]="isActivePage(page)"
        [disabled]="disabled"
      >
        {{ page }}
      </button>
      <button
        *ngIf="isLeftEllipsis(page)"
        (click)="handleEllipsis('left')"
        class="ellipsis-button"
        [disabled]="disabled"
      >
        ...
      </button>
      <button
        *ngIf="isRightEllipsis(page)"
        (click)="handleEllipsis('right')"
        class="ellipsis-button"
        [disabled]="disabled"
      >
        ...
      </button>
    </ng-container>

    <button (click)="handleNext()" [disabled]="currentPage === totalPages || disabled" class="arrow-button">
      <kendo-icon name="chevron-right"></kendo-icon>
    </button>
    <button (click)="handleLast()" [disabled]="currentPage === totalPages || disabled" class="arrow-button first-last-button">
      Cuối
    </button>
  </div>
</div>
