::ng-deep {
  app-grid-wrapper {
    .grid-wrapper {
      height: calc(100vh - 210px);
      font-family: "Mulish", sans-serif;
      margin-top: 20px;
      overflow-y: auto;
      .k-grid-header {
        border: none;
        padding: 0;
        margin: 0;
      }
      .k-header {
        font-weight: 700;
        color: #1a2334;
        font-size: 13px;
      }
      .k-table-th {
        white-space: nowrap;
      }
      .k-table-td {
        vertical-align: middle;
        height: 42px !important;
      }
      .k-table-md {
        border-spacing: 0 4px !important;
        background-color: #f5f5f5;
      }
      .k-table-tbody {
        background-color: #fff !important;
      }
      .k-grid-content {
        background-color: #f5f5f5 !important;
      }
    }
    .col-name {
      display: flex;
      flex-direction: column;
      gap: 4px;
    
      .name-ctn {
        display: flex;
        flex-direction: column;
    
        .remark {
          font-weight: 700;
          margin-bottom: 2px;
        }
    
        .info {
          display: flex;
          align-items: center;
          gap: 4px; 
    
          .name {
            font-size: 14px;
            font-weight: 600;
          }
    
          .separator {
            font-size: 14px;
            font-weight: 600;
            color: #6b7280;
          }
    
          .cccd {
            font-size: 13px;
            font-weight: 400;
            color: #6b7280;
          }
        }
      }
    }
    
    
    .col-gender,
    .col-birth,
    .col-email,
    .col-sdt,
    .col-account,
    .col-company {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .action {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      position: relative;
      .k-button {
        color: #23282c;
        background-color: #fff;
        background-image: none;
        box-shadow: 1px 3px 6px 1px #8f9ba633;
        height: 32px;
        border-color: #00000014;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    input[type="checkbox"] {
      cursor: pointer;
      accent-color: #1a6634;
      width: 16px;
      height: 16px;

      &:hover{
        background-color: #1a6634;
      }
    }
    .k-grid {
      border: none;
      .k-table-td,
      .k-table-th {
        border: none;
        border-spacing: 0 4px !important;
      }
    }
    .k-table-row {
      &:hover {
        background-color: rgba(123, 169, 142, 0.675) !important;
      }
    }
    .k-grid .k-table-row.k-table-alt-row {
      background-color: #fff;
    }
    .k-grid-header .k-table-row {
      background-color: #f5f5f5 !important;
    }
    td[aria-colindex="6"] {
      box-shadow: -3px 0 3px #8f9ba633;
      position: sticky;
      right: 0;
      background: white;
      text-align: center;
      vertical-align: middle;
    }
    .menu-item {
      display: flex;
      gap: 8px;
      font-family: "Mulish", sans-serif;
      font-size: 14px;
      font-weight: 600;
      color: #fff;
      border: none;
      min-width: 147px;
      cursor: pointer;
      text-align: left;
      box-shadow: 0 5px 6px #5a62764d;
      background-color: #bdc2d2;
      &:hover {
        background-color: #5c6873;
      }
      kendo-icon {
        font-size: 16px;
        color: #ffffff;
      }
    }
    .popup-menu {
      right: 41px;
      position: absolute;
      top: 22px;
      padding-bottom: 1% !important;
    }
    .k-grid .k-grid-header .k-table {
      margin-bottom: -1px;
    }
    .k-grid .k-grid-header .k-table-th:first-child,
    .k-grid td:first-child,
    .k-grid .k-table-td:first-child {
      border-inline-start-width: 0;
      padding: 0 2%;
    }
    .k-grid-header .k-table-th:first-child {
      padding-bottom: 8px !important;
    }
    .k-grid-header .k-header .k-column-title {
      cursor: pointer !important;
    }
    .custom-header {
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer !important;
    }
  }
  .custom-pagination {
    position: fixed;
    bottom: 0;
    width: calc(100vw - 245px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 1px;
    font-family: Mulish, Arial, sans-serif;
    font-size: 13px;
    background: #f5f5f6;
    z-index: 999;
  }
  .custom-pagination .left-c {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
  }
  .left-c span {
    font-weight: 600;
    color: #959DB3;
  }
  .custom-pagination select {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    background: #fff;
    cursor: pointer;
  }
  .right-c {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .right-c button {
    width: 40px;
    height: 32px;
    padding: 0;
    border: none;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    color: #959DB3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
  }
  .right-c button img {
    width: 12px;
    height: 12px;
  }
  .right-c .first-last-button {
    width: 60px;
  }
  .right-c button.active {
    background-color: #959DB3;
    color: white;
  }
  .right-c button:not(.active):hover {
    background-color: #e0e0e0;
  }
  .right-c button:disabled {
    background-color: #ddd;
    color: #999;
    cursor: not-allowed;
    opacity: 0.6;
  }
  .right-c button.active img {
    filter: invert(1);
  }
  .right-c .ellipsis-button {
    color: #959DB3;
    background: #fff;
    border: none;
    cursor: pointer;
    font-weight: 600;
    padding: 0 10px;
    border-radius: 5px;
  }
  .right-c .ellipsis-button:hover {
    background-color: #e0e0e0;
  }
  .custom-pagination.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  .custom-pagination.disabled select,
  .custom-pagination.disabled button {
    cursor: not-allowed;
  }
}
