<app-multi-popup [selectedItems]="selectedItems"></app-multi-popup>
<div class="grid-wrapper">
  <kendo-grid [data]="data" style="height: 100%;" [scrollable]="'scrollable'" class="grid scrollable grid-custom">
    <kendo-grid-column [width]="50">
      <ng-template kendoGridHeaderTemplate>
        <input type="checkbox" [checked]="allSelected" (change)="toggleAll()" />
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        <input type="checkbox" [(ngModel)]="dataItem.selected" (change)="onItemSelectChange(dataItem)" />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="question" title="Câu hỏi" [width]="250">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.question }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="group" title="Phân nhóm" [width]="200">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.group }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="workTime" title="Thời gian làm" [width]="180">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.workTime }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="status" title="Tình trạng" [width]="150">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.status }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="" [width]="30">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <div class="action">
          <button
            #menuButton
            kendobutton
            icon="more-horizontal"
            class="k-button k-button-icon togglePopup k-icon-button k-button-md k-rounded-md k-button-solid-base k-button-solid"
            role="button"
            (click)="toggleMenu(rowIndex, menuButton)"
          >
            <kendo-icon class="k-i-more-horizontal k-button-icon k-icon"></kendo-icon>
          </button>
          <kendo-popup
            *ngIf="openedRowIndex === rowIndex"
            [anchor]="popupAnchor"
            [popupAlign]="{ vertical: 'bottom', horizontal: 'right' }"
            [animate]="true"
            (close)="openedRowIndex = null"
          >
            <div class="popup-content">
              <button (click)="openEditPage(dataItem)" class="menu-item">
                <kendo-icon name="edit"></kendo-icon> Chỉnh sửa
              </button>
              <button (click)="openDetailPopup()" class="menu-item">
                <kendo-icon name="info"></kendo-icon> Chi tiết
              </button>
            </div>
          </kendo-popup>
        </div>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>
