<div *ngIf="selectedItems.length > 0" id="selectedRowitemDialog" class="action-bar">
  <div class="box count-box">
    <div class="count" style="font-size: 30px;">{{ selectedItems.length }}</div>
    <div style="font-size: 13px;">Đã chọn</div>
  </div>
  <div *ngIf="allowedActions.includes('Gởi duyệt')" class="box box-btn" (click)="sendForApproval()">
    <div><kendo-icon name="redo"></kendo-icon></div>
    <div>Gởi duyệt</div>
  </div>
  <div *ngIf="allowedActions.includes('Phê duyệt')" class="box box-btn" (click)="approve()">
    <div><kendo-icon name="check-outline"></kendo-icon></div>
    <div>Phê duyệt</div>
  </div>
  <div *ngIf="allowedActions.includes('Trả về')" class="box box-btn" (click)="returnItem()">
    <div><kendo-icon name="undo"></kendo-icon></div>
    <div>Trả về</div>
  </div>
  <div *ngIf="allowedActions.includes('Ngưng áp dụng')" class="box box-btn" (click)="stopApply()">
    <div><kendo-icon name="minus-outline"></kendo-icon></div>
    <div>Ngưng áp dụng</div>
  </div>
  <div *ngIf="allowedActions.includes('Xóa câu hỏi')" class="box box-btn delete-btn" (click)="deleteItem()">
    <div><kendo-icon name="trash"></kendo-icon></div>
    <div>Xóa câu hỏi</div>
  </div>
  <div class="divider"></div>
  <div class="box box-btn close-btn" (click)="closePopup()">X</div>
</div>
