.action-bar {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-family: "Mulish", sans-serif;
}

.count-box {
  background: #1a6634;
  color: #fff;
  padding: 0 20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 68px;
}

.box-btn {
  padding: 0 15px;
  height: 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: transparent;
  font-size: 13px;
}

.box-btn:hover {
  background: #8f9ba6;
  color: #fff;
}

.box-btn > div:first-child {
  margin-bottom: 5px;
}

.divider {
  width: 1px;
  height: 50px;
  background: #c8ced3;
  margin: 0;
}

.close-btn {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
