<app-header1 #header1 (filterStatuses)="onStatusesChange($event)"></app-header1>
<app-header2 (searchChanged)="onSearchChange($event)" (resetFilters)="onResetFilters()"></app-header2>
<app-multi-popup [selectedItems]="selectedItems" (popupClosed)="onPopupClose()" (statusChanged)="onStatusChanged()"></app-multi-popup>
<div class="grid-wrapper">
  <kendo-grid
    [data]="gridView"
    kendoGridSelectBy="QuestionID"
    [selectable]="{ checkboxOnly: true }"
    [pageSize]="pageSize"
    [skip]="skip"
    [loading]="isLoading"
    [pageable]="{ buttonCount: 4, pageSizes: pageSizes, previousNext: true, info: true }"
    [sortable]="false"
    [groupable]="false"
    [reorderable]="false"
    [resizable]="false"
    [height]="650"
    (pageChange)="pageChange($event)"
  >
    <kendo-grid-column [width]="15">
      <ng-template kendoGridHeaderTemplate>
        <input type="checkbox" [checked]="allSelected" (change)="toggleAll()" />
      </ng-template>
      <ng-template kendoGridCellTemplate let-dataItem>
        <input type="checkbox" [(ngModel)]="dataItem.selected" (change)="onItemSelectChange(dataItem)" />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="Câu hỏi" [width]="100">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="col-name">
          <div class="name-ctn">
            <div class="remark"></div>
            <div class="remark">{{ truncateText(dataItem.Remark, 50) }}</div>
            <div class="name">{{ dataItem.QuestionID }} | {{ dataItem.TypeOfQuestionName }}</div>
          </div>
        </div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="CategoryName" title="Phân nhóm" [width]="80">
      <ng-template kendoGridCellTemplate let-dataItem>
        {{ dataItem.CategoryName }}
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="Duration" title="Thời gian làm" [width]="80">
      <ng-template kendoGridCellTemplate let-dataItem>
        <div class="duration">{{ dataItem.Duration }}</div>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="StatusName" title="Tình Trạng" [width]="50">
      <ng-template kendoGridCellTemplate let-dataItem>
        <span [ngStyle]="{'color': getStatusColor(dataItem.StatusName), 'padding': '2px 5px', 'border-radius': '3px'}">
          {{ dataItem.StatusName }}
        </span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="" [width]="15">
      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
        <div class="action">
          <button #menuButton kendobutton icon="more-horizontal" class="k-button k-button-icon togglePopup k-icon-button" (click)="toggleMenu(rowIndex, menuButton)">
            <kendo-icon class="k-i-more-horizontal k-button-icon k-icon"></kendo-icon>
          </button>
          <kendo-popup *ngIf="openedRowIndex === rowIndex" [anchor]="popupAnchor" appendTo="popupContainer" [popupAlign]="{ vertical: 'bottom', horizontal: 'right' }" [animate]="true" (close)="openedRowIndex = null">
            <div class="popup-content">
              <ng-container *ngFor="let action of getActions(dataItem.StatusName)">
                <button kendoButton class="menu-item" (click)="onActionClick(action, dataItem)">
                  <span class="menu-icon">
                    <kendo-icon *ngIf="action === 'Chỉnh sửa'" class="k-i-edit"></kendo-icon>
                    <kendo-icon *ngIf="action === 'Gởi duyệt'" class="k-i-upload"></kendo-icon>
                    <kendo-icon *ngIf="action === 'Xóa câu hỏi'" class="k-i-trash"></kendo-icon>
                    <kendo-icon *ngIf="action === 'Phê duyệt'" class="k-i-check"></kendo-icon>
                    <kendo-icon *ngIf="action === 'Trả về'" class="k-i-undo"></kendo-icon>
                    <kendo-icon *ngIf="action === 'Xem chi tiết'" class="k-i-eye"></kendo-icon>
                    <kendo-icon *ngIf="action === 'Ngưng hiển thị' || action === 'Ngưng áp dụng'" class="k-i-minus-outline"></kendo-icon>
                  </span>
                  <span class="menu-text">{{ action }}</span>
                </button>
              </ng-container>
            </div>
          </kendo-popup>
        </div>
      </ng-template>
    </kendo-grid-column>
  </kendo-grid>
</div>
<div #popupContainer></div>
<kendo-dialog *ngIf="showDeleteConfirmation" (close)="cancelDelete()">
  <kendo-dialog-titlebar>Xác nhận xóa</kendo-dialog-titlebar>
  <p>Bạn có chắc chắn muốn xóa câu hỏi có ID: {{ itemToDelete?.QuestionID }}?</p>
  <kendo-dialog-actions>
    <button kendoButton (click)="confirmDelete()" [primary]="true">Xóa</button>
    <button kendoButton (click)="cancelDelete()">Hủy</button>
  </kendo-dialog-actions>
</kendo-dialog>
